[Unit]
Description=Lenic
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/lenic
EnvironmentFile=/opt/lenic/prod.env
ExecStart=/opt/lenic/bin/lenic
Restart=always
RestartSec=3
KillSignal=SIGTERM
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lenic

[Install]
WantedBy=multi-user.target
