<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/change-password.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <input type="hidden" id="session-username" value="{{.User.UserName}}">
        <input type="hidden" id="session-encoded" value="{{.User.EncodedName}}">
        <div class="logo">
            <h1 class="home-link"><a href="/user/{{.User.EncodedName}}/feed">L E N I C</a></h1>
            <p class="logo-bottom">Cinel do avesso</p>
        </div>
        {{if not .Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button">Login</button></a>
                <a href="/register"><button class="header-button">Register</button></a>
            </div>
        {{else}}
            <div class="logout">
                <div class="search-container">
                    <div class="search-input-button-container">
                        <input class="search-input" id="search-input" type="text" name="search" />
                        <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                    </div>
                    <div class="search-dropdown">
                        <div class="search-body" id="search-body">
                            <!-- Search items in here -->
                        </div>
                    </div>
                </div>
                <div class="dm-container">
                    <button class="dm-button"><i class="fa-solid fa-envelope fa-2x"></i></button>
                    <div class="dm-dropdown">
                        <div class="dm-body">
                            <!-- Conversation items in here -->
                        </div>
                    </div>
                </div>

                <div class="notif-container">
                    <button class="notif-button"><i class="fa-solid fa-bell fa-2x"></i></button>
                    <div class="notif-dropdown">
                        <div class="notif-body">
                            <button class="notif-readAll">Read All</button>
                            <!-- Notif items in here -->
                        </div>
                    </div>
                </div>
                <div class="vertical-bar"></div>
                <a class="user-profile-button" href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="profile-pic-mini" src="/action/profile-pic?user-encoded={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
            </div>
        {{end}}
    </header>
    <main>
        <h1 class="change-pass-title">Change Password</h1>
        <div>
            <p class="instructions">Fill the form:</p>
            <form class="change-pass-form" action="/action/change-password" method="POST">
                <input type="hidden" name="user_name" value="{{.User.UserName}}" />
                <div class="old-password-field"><input type="password" name="old-password" placeholder="old password" /><img class="password-img" src="/static/img/padlock_logo.png"></div>
                <div class="change-password-field"><input type="password" name="password" placeholder="password" /><img class="password-img" src="/static/img/padlock_logo.png"></div>
                <div class="change-password2-field"><input type="password" name="password2" placeholder="password" /><img class="password-img" src="/static/img/padlock_logo.png"></div>
                <div class="change-password-button"><input type="submit" value="Recover" /></div>
            </form>
        </div>
    </main>
    <footer>
        <div id="dm-window" class="hidden">
            <div class="dm-header">
                <span id="dm-title"></span>
                <button id="close-dm-btn">&times;</button>
            </div>
            <div id="dm-content" class="dm-content">
                <!-- DM messages will be populated here -->
            </div>
            <div class="dm-input">
                <input id="dm-input-field" type="text" placeholder="Type a message...">
                <button id="send-message-btn">OK</button>
            </div>
        </div>
    </footer>
</body>
</html>
    