<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/followers.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <input type="hidden" id="session-username" value="{{.Session.User.UserName}}">
        <input type="hidden" id="session-encoded" value="{{.Session.User.EncodedName}}">
        <div class="logo">
            <h1 class="home-link"><a href="/user/{{.Session.User.EncodedName}}/feed">L E N I C</a></h1>
            <p class="logo-bottom">Cinel do avesso</p>
        </div>
        {{if not .Session.Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button">Login</button></a>
                <a href="/register"><button class="header-button">Register</button></a>
            </div>
        {{else}}
            <div class="logout">
                <div class="search-container">
                    <div class="search-input-button-container">
                        <input class="search-input" id="search-input" type="text" name="search" />
                        <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                    </div>
                    <div class="search-dropdown">
                        <div class="search-body" id="search-body">
                            <!-- Search items in here -->
                        </div>
                    </div>
                </div>
                <!-- DM Not Implemented
                <div class="dm-container">
                    <button class="dm-button"><i class="fa-solid fa-envelope fa-2x"></i></button>
                    <div class="dm-dropdown">
                        <div class="dm-body">
                            <div class="dm-item">You have a new comment on your post.</div>
                            <div class="dm-item">Your profile picture has been updated.</div>
                            <div class="dm-item">New friend request received.</div>
                        </div>
                    </div>
                </div>
                -->
                <div class="notif-container">
                    <button class="notif-button"><i class="fa-solid fa-bell fa-2x"></i></button>
                    <div class="notif-dropdown">
                        <div class="notif-body">
                            <button class="notif-readAll">Read All</button>
                            <!-- Notif items in here -->
                        </div>
                    </div>
                </div>
                <a href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="session-profile-pic" src="/action/profile-pic?user-encoded={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="session-profile-pic" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
                <button class="header-button" id="logout-button"><strong>Logout</strong></button>
            </div>
        {{end}}
    </header>
    <main>
        <div class="main-container">
            <h1>{{.User.UserName}} Followers</h1>
            <div class="profile-grid">
                {{range .Followers}}
                    <a href="/user/{{.EncodedName}}">
                        <div class="profile">
                            {{if .ProfilePic}}
                                <img class="profile-pic-med" src="/action/profile-pic?user-encoded={{.EncodedName}}" alt="Profile Pic">
                            {{else}}
                                <img class="profile-pic-med" src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                            {{end}}
                            <p><strong>{{.UserName}}</strong></p>
                        </div>
                    </a>
                {{end}}
            </div>
        </div>
    </main>
    <footer>
        <div id="dm-window" class="hidden">
            <div class="dm-header">
                <span id="dm-title"></span>
                <button id="close-dm-btn">&times;</button>
            </div>
            <div id="dm-content" class="dm-content">
                <!-- DM messages will be populated here -->
            </div>
            <div class="dm-input">
                <input id="dm-input-field" type="text" placeholder="Type a message...">
                <button id="send-message-btn">OK</button>
            </div>
        </div>
    </footer>
    <script type="module" src="/static/js/auth.js"></script>
</body>
</html>
