<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/newPost.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <input type="hidden" id="session-username" value="{{.Session.User.UserName}}">
        <input type="hidden" id="session-encoded" value="{{.Session.User.EncodedName}}">
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
        {{if not .Session.Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button">Login</button></a>
                <a href="/register"><button class="header-button">Register</button></a>
            </div>
        {{else}}
            <div class="logout">
                <div class="search-container">
                    <div class="search-input-button-container">
                        <input class="search-input" id="search-input" type="text" name="search" />
                        <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                    </div>
                    <div class="search-dropdown">
                        <div class="search-body" id="search-body">
                            <!-- Search items in here -->
                        </div>
                    </div>
                </div>
                <!-- DM Not Implemented
                <div class="dm-container">
                    <button class="dm-button"><i class="fa-solid fa-envelope fa-2x"></i></button>
                    <div class="dm-dropdown">
                        <div class="dm-body">
                            <div class="dm-item">You have a new comment on your post.</div>
                            <div class="dm-item">Your profile picture has been updated.</div>
                            <div class="dm-item">New friend request received.</div>
                        </div>
                    </div>
                </div>
                -->
                <div class="notif-container">
                    <button class="notif-button"><i class="fa-solid fa-bell fa-2x"></i></button>
                    <div class="notif-dropdown">
                        <div class="notif-body">
                            <!-- Notif items in here -->
                        </div>
                    </div>
                </div>
                <a href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="session-profile-pic" src="/action/profile-pic?user-encoded={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="session-profile-pic" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
                <button class="header-button" id="logout-button"><strong>Logout</strong></button>
            </div>
        {{end}}
    </header>
    <div class="content">
        <div class="post-form">
            <form enctype="multipart/form-data">
                <div><input type="text" name="post-title" placeholder="Post Title" /></div>
                <div><textarea name="post-content" placeholder="The post"></textarea></div>
                <div class="visibility-container">
                    <p>Select Post Visibility:</p>
                    <div class="visibility-buttons">
                        <label><input type="radio" name="post-visibility" value="1">  Public</label>
                        <label><input type="radio" name="post-visibility" value="0">  Private</label>
                    </div>
                </div>
                <div>
                    <p>Add an image to your post:</p>    
                    <div><input type="file" name="post-image" accept="image/*"/></div>
                </div>
            </form>
        </div>
        <button id="post-button"><strong>Post</strong></button>
    </div>
    <script type="module" src="/static/js/auth.js"></script>
    <script type="module" src="/static/js/newPost.js"></script>
</body>
</html>
