body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    color: darkslategray;
}

#title {
    cursor: pointer;
}

input {
    background-color: white;
}

header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.login-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 30px;
}

.login-reg-child {
    margin: 0 5px;
}

.login-reg button {
    border-radius: 50px;
    height: 100%;
}

.log-reg {
    max-width: fit-content;
    margin-inline: auto;
}