body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:azure;
    color: darkslategray;
}

a:link {
    color: white;
    text-decoration: none; 
}

a:visited {
    color: white;
    text-decoration: none; 
}

.home-link {
    cursor: pointer;
    margin: 0 0 -10px 0;
}

.logo-bottom {
    margin: -10px 0 0 0;
}

input {
    background-color: white;
}

header {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 60px;
    padding: 0 0 0 10px;
}

.logo {
    align-self: center;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
}

.button {
    display: flex; /* Set display flex for the button */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    flex: 1; /* Allow the button to grow and fill the container */
    padding: 0 15px; /* Remove padding to let height be flexible */
    height: 100%; /* Ensure button height is 100% of header */
    margin: 0; /* Remove margin */
    border: none; /* Remove any borders */
    background-color: orange; /* Existing background color */
    cursor: pointer; /* Keep cursor pointer */
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout p {
    margin: 0 10px;
}

.log-reg {
    max-width: fit-content;
    margin-inline: auto;
}

.content {
    margin: 20px;
}

.title {
    max-width: fit-content;
    margin-inline: auto;
}

.add-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 30px;
}

.post-form {
    width: 90%;
    max-width: 2000px;
    padding: 20px;
    border-radius: 5px;
}

.post-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post-form input[type="text"], .post-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-form textarea {
    height: 200px;
    resize: vertical;
}

input[type="file"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: orangered;
}

button {
    background-color: orange;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: orangered;
}

.post-content {
    overflow-wrap: break-word;
}

.post-preview-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

a .post-preview {
    color: #333;
}

.post-preview {
    margin: 20px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    transition: transform 0.2s;
}

.post-preview:hover {
    transform: scale(1.05);
}

.post-preview h2 {
    margin: 0;
    font-size: 1.5em;
}

.post-preview p {
    margin: 10px 0;
}

#comments {
    margin-bottom: 30px;
}

.comment{
    margin-top: 30px;
}

.comment-edit {
    display: none;
}

.post-text {
    margin-top: 15px;
}

img {
    max-width: 200px;
    max-height: 200px;
}