<!DOCTYPE html>
<html>
<head>
    <title>Lenic</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/user-profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <input type="hidden" id="session-username" value="{{.Session.User.Username}}">
        <input type="hidden" id="session-encoded" value="{{.Session.User.EncodedName}}">
        <div class="logo">
            <h1 class="home-link"><a href="/user/{{.Session.User.EncodedName}}/feed">L E N I C</a></h1>
            <p class="logo-bottom">Cinel do avesso</p>
        </div>
        {{if not .Session.Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button">Login</button></a>
                <a href="/register"><button class="header-button">Register</button></a>
            </div>
        {{else}}
            <div class="logout">
                <div class="search-container">
                    <div class="search-input-button-container">
                        <input class="search-input" id="search-input" type="text" name="search" />
                        <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                    </div>
                    <div class="search-dropdown">
                        <div class="search-body" id="search-body">
                            <!-- Search items in here -->
                        </div>
                    </div>
                </div>
                <div class="dm-container">
                    <button class="dm-button"><i class="fa-solid fa-envelope fa-2x"></i></button>
                    <div class="dm-dropdown">
                        <div class="dm-body">
                            <!-- Conversation items in here -->
                        </div>
                    </div>
                </div>
                <div class="notif-container">
                    <button class="notif-button"><i class="fa-solid fa-bell fa-2x"></i></button>
                    <div class="notif-dropdown">
                        <div class="notif-body">
                            <button class="notif-readAll">Read All</button>
                            <!-- Notif items in here -->
                        </div>
                    </div>
                </div>
                <div class="vertical-bar"></div>
                <a class="user-profile-button" href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="profile-pic-mini" src="/action/profile-pic?encoded_username={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
            </div>
        {{end}}
    </header>
    <main>
        <div class="main-container">
            {{if eq .Session.User.Username .User.Username}}
                <div class="add-post-container">
                    <div class="add-post-top-row">
                        <h2>POST SOMETHING</h2>
                        <input type="file" id="post-image" class="file-input">
                        <label for="post-image" id="post-image-label" class="custom-file-label"><i class="fa-solid fa-2x fa-image"></i></label>
                        <button id="post-button" class="add-post-button" onclick="event.stopPropagation();">POST</button>
                    </div>
                    <div id="suggestionBox" class="suggestion-box"></div>
                    <div class="visibility-buttons">
                        <label><input type="radio" name="post-visibility" value="1">  Public</label>
                        <label><input type="radio" name="post-visibility" value="0">  Private</label>
                    </div>
                    <div class="add-post-content-container">
                        <input id="post-title-input" type="text" name="post-title" placeholder="Post Title" />
                        <textarea id="post-textarea" name="post-content" placeholder="The post"></textarea>
                    </div>
                </div>
            {{end}}
            <div class="user-posts">
                <div class="post-preview-container">
                    {{range .Posts}}
                        <div class="post-preview" onclick="location.href='/post/{{.ID}}';">
                            <div class="post-preview-content">
                                <div class="author-info-inline">
                                    <a href="/user/{{.Author.EncodedName}}">
                                        {{if .Author.ProfilePic}}
                                            <img class="profile-pic-mini" src="/action/profile-pic?encoded_username={{.Author.EncodedName}}" alt="Profile Pic">
                                        {{else}}
                                            <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                                        {{end}}
                                    </a>
                                    <div><a href="/user/{{.Author.EncodedName}}" onclick="event.stopPropagation();"><strong>{{.Author.Username}}</strong></a>   -   <strong>{{.Date}}</strong></div>
                                </div>
                                <div class="post-content-image-container">
                                    <div class="post-title-content">
                                        <div><h2>{{.Title}}</h2></div>
                                        <div>{{.TruncatedText}}</div>
                                    </div>
                                    {{if .Image}}
                                        <img class="post-pic-mini" src="/action/image?post_id={{.ID}}" alt="Post Image">
                                    {{end}}
                                </div>
                                <br>
                                <div class="post-rating-container">
                                    <div class="post-rating">Rating <strong>{{.Rating}}</strong></div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="side-container">
            <div class="profile">
                <div class="profile-personal">
                    <div class="profile-pic">
                        {{if .User.ProfilePic}}
                            <img src="/action/profile-pic?encoded_username={{.User.EncodedName}}" alt="Profile Pic">
                            {{if eq .User.Username .Session.User.Username}}
                                <input type="file" id="profile-image" class="file-input">
                                <label for="profile-image" id="profile-image-label" class="custom-profile-label"><i class="fa-solid fa-2x fa-image"></i></label>
                                <div id="profile-pic-confirm" class="profile-pic-confirm"><button>CONFIRM</button></div>
                            {{end}}
                        {{else}}
                            <img src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                            {{if eq .User.Username .Session.User.Username}}
                                <input type="file" id="profile-image" class="file-input">
                                <label for="profile-image" id="profile-image-label" class="custom-profile-label"><i class="fa-solid fa-2x fa-image"></i></label>
                                <div id="profile-pic-confirm" class="profile-pic-confirm"><button>CONFIRM</button></div>
                            {{end}}
                        {{end}}
                    </div>
                    <div class="profile-info">
                        <input type="hidden" id="encoded-user" value="{{.User.EncodedName}}" />
                        <h1>{{.User.Username}}</h1>
                        <input type="hidden" id="profile-username" value="{{.User.UserName}}">
                        <br>
                        {{if eq .User.Username .Session.User.Username}}
                            <p>{{.User.Email}}</p>
                            <br>
                        {{else}}
                            {{if .Session.Authenticated}}
                                {{if ne .Session.User.Username .User.Username}}
                                    {{if gt .Follows 0}}
                                        <button id="unfollow-button">Unfollow</button>
                                    {{else if lt .Follows 0}}
                                        <button id="follow-button">Follow</button>
                                    {{else}}
                                        <p>A request has been sent</p>
                                    {{end}}
                                {{end}}
                            {{end}}
                            <button class="start-dm-button" data-user="{{.User.UserName}}">Send a DM</button>
                        {{end}}
                        <div class="follow-info"><a href="/user/{{.User.EncodedName}}/followers"><strong>Followers:</strong></a> {{.User.Followers}}</div>
                        <div class="follow-info"><a href="/user/{{.User.EncodedName}}/following"><strong>Following:</strong></a> {{.User.Following}}</div>
                    </div>
                </div>
                <div class="bottom-buttons">
                    {{if eq .User.UserName .Session.User.UserName}}
                        <a href="/change-password/{{.User.EncodedName}}"><button>Change password</button></a>
                        <button id="logout-button"><strong>Logout</strong></button>
                    {{end}}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="dm-window" class="hidden">
            <div class="dm-header">
                <span id="dm-title">{{.User.Username}}</span>
                <button id="close-dm-btn">&times;</button>
            </div>
            <div id="dm-content" class="dm-content">
                <!-- DM messages will be populated here -->
            </div>
            <div class="dm-input">
                <input id="dm-input-field" type="text" placeholder="Type a message...">
                <button id="send-message-btn">OK</button>
            </div>
        </div>
    </footer>
    <script type="module" src="/static/js/auth.js"></script>
    <script type="module" src="/static/js/user.js"></script>
    <script type="module" src="/static/js/newPost.js"></script>
</body>
</html>
