
/* Header */
header {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 60px;
    padding: 0 0 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*  Logo Left */
.logo {
    align-self: center;
}

.home-link {
    cursor: pointer;
    margin: 0 0 -10px 0;
}

.logo-bottom {
    margin: -10px 0 0 0;
}

/* Login Buttons div */
.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
}

/* Logout div */
.logout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
}

.session-profile-pic {
    height: 50px;
    margin: 5px 5px 0 0;
    align-self: center;
}

.logout p {
    margin: 0 10px;
    align-self: center;
}

/* Header buttons */
.header-button {
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
    margin: 0;
    border: none;
}


/* Notifications */
.notif-container {
    display: flex;
    align-items: center;
    position: relative;
}

.notif-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    background-color: transparent;
    position: relative;
}

.notif-button::after {
    content: '';
    position: absolute;
    top: 12px; 
    right: 10px; 
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%;
    display: var(--notif-display, none);
}

.notif-button:hover {
    background-color: lightblue;
}

.notif-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px; 
    background-color: rgb(254 186 109 / 75%);
    color: #333;
    box-shadow: 5px 5px #857456;
    width: 500px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.notif-body {
    padding: 10px;
}

.notif-item {
    display: flex;
    flex-direction: column;
    background-color: azure;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.notif-item a {
    color: #333;
}

.notif-item:hover {
    background-color: white;
}

.notif-item:last-child {
    border-bottom: none;
}

.notif-container.show .notif-dropdown {
    display: block;
}

.request-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.request-buttons button {
    margin: 0 10px;
}

/* DMs */
.dm-container {
    display: flex;
    align-items: center;
    position: relative;
}

.dm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    background-color: transparent;
    position: relative;
}

.dm-button::after {
    content: '';
    position: absolute;
    top: 12px; 
    right: 7px; 
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%;
    display: none;
}

.dm-button:hover {
    background-color: lightblue;
}

.dm-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px; 
    background-color: rgb(254 186 109 / 75%);
    color: #333;
    box-shadow: 5px 5px #857456;
    width: 500px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.dm-body {
    padding: 10px;
}

.dm-item {
    background-color: azure;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.dm-item:last-child {
    border-bottom: none;
}

.dm-container.show .notif-dropdown {
    display: block;
}