
/* Header */
header {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 60px;
    padding: 0 0 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*  Logo Left */
.logo {
    align-self: center;
}

.home-link {
    cursor: pointer;
    margin: 0 0 -10px 0;
}

.logo-bottom {
    margin: -10px 0 0 0;
}

/* Login Buttons div */
.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
}

/* Logout div */
.logout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.session-profile-pic {
    height: 50px;
    margin: 5px 5px 0 0;
    align-self: center;
}

.logout p {
    margin: 0 10px;
    align-self: center;
}

/* Header buttons */
.header-button {
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
    margin: 0;
    border: none;
    background-color: orange;
    color: white;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(255, 198, 66);
}

.header-button:active {
    background-color: rgb(209, 136, 0);
}