/* Profile */

.side-container img {
    margin-top: 3rem;
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

.profile {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 20px;
}

.profile-container h1 {
    margin-top: 20px;
    text-align: center;
}

.profile-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-info {
    margin-top: 1rem;
}

.start-dm-button {
    margin-top: 0.5rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.custom-profile-label {
    position: absolute;
    top: 13rem;
    right: 2rem;
}

#profile-pic-confirm-button {
    display: none;
    margin-left: 20px;
}

.follower-info {
    display: flex;
    align-items: flex-start;
}

.follower-info div {
    margin-right: 10px;
}

.follower-info a {
    color: white;
}

.user-profile-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom:30px;
}

.user-profile-buttons a:first-child {
    margin-right: 15px;
}

.bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-buttons button {
    margin-top: 1rem;
}


/* Posts */

.add-post-container {
    width: 75vw;
    padding-top: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-post-top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.add-post-top-row h2 {
    margin-right: 1rem;
    font-size: 2rem;
}

.add-post-button {
    padding: 0.5rem 0.75rem;
    border: none;
    height: 100%;
    font-size: 1em;
    cursor: pointer;
}

.add-post-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.add-post-content-container input {
    width: 100%;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    border: black 2px solid;
    border-radius: 20px;
    margin: 0.5rem 0;
    padding: 0.25rem 0 0.25rem 0.5rem;
}

.add-post-content-container textarea {
    width: 100%;
    height: 8rem;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    border: black 2px solid;
    border-radius: 20px;
    padding-left: 0.5rem;
}

.user-posts{
    width: 100%;
}

.suggestion-box {
    position: absolute;
    display: none;
    background-color: #333;
    color: white;
    width: 500px;
    overflow-y: auto;
    max-height: 300px;
    z-index: 1000;
}

.suggestion-item {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.suggestion-item:hover {
    background-color: #333;
}

.post-preview-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 90%;
}

a .post-preview {
    color: white;
}

.post-preview-content h2 {
    color: white;
    margin-bottom: 0.25rem;
}

.post-preview-content a {
    color: white;
}

.post-preview {
    margin: 0;
    background-color: transparent;
    flex: 1;
}

.post-preview-content {
    background-color: #333;
    padding: 10px 20px;
    margin: 0.5rem 0;
}

.post-preview-content:hover {
    background-color: #131313;
}

.post-content-image-container {
    display: flex;
    justify-content: space-between;
}

.post-rating-container {
    display: flex;
    flex-direction: row;
}

.post-rating-container button {
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
}

.post-rate-up-button {
    margin-left: 10px;
}


.post-preview-container .post-preview:first-child {
    padding-top: 20px;
}

.post-preview-container .post-preview:last-child {
    padding-bottom: 20px;
}