<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1 id="home-link">TPSI.25 BlogTPSI.25 Blog - O Blog da malta</h1>
    </header>
    <p class="title">ERROR: {{.ErrorMsg}}</p>
    <script src="/static/js/all.js"></script>
</body>
</html>
