<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/forgot-password.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
    </header>
    <main>
        <h1 class="forgot-pass-title">Forgot your password?</h1>
        <div>
            <p class="instructions">Insert the email you used to register your account:</p>
            <form class="forgot-pass-form" action="/api/forgot-password" method="POST">
                <div class="forgot-password-email-field"><input type="email" name="user_email" placeholder="Your email" /><img class="forgot-mail-img" src="/static/img/arroba_logo.png"></div>
                <div class="forgot-password-button"><input type="submit" value="Recover" /></div>
            </form>
            <p>Don't have an account? <strong><a href="/register">Register</a></strong></p>
        </div>
    </main>
    <script src="/static/js/all.js"></script>
</body>
</html>
