<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/all.css">
</head>
<body>
    <header>
        <h1 id="home-link">TPSI.25 BlogTPSI.25 Blog - O Blog da malta</h1>
    </header>
    <div class="log-reg">
        <h1>Login</h1>
        <form action="/api/login" method="POST">
            <div><input type="text" name="user_name" placeholder="User name" /></div>
            <div><input type="password" name="user_password" placeholder="Password" /></div>
            <div><input type="submit" value="Log in" /></div>
        </form>
    </div>
    <script src="/static/js/all.js"></script>
</body>
</html>
