<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/all.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
    </header>
    <div class="content">
        <div class="log-reg">
            <h1>Login</h1>
            <form action="/api/login" method="POST">
                <div><input type="text" name="user_name" placeholder="User name" /></div>
                <div><input type="password" name="user_password" placeholder="Password" /></div>
                <div><input type="submit" value="Log in" /></div>
            </form>
        </div>
    </div>
    <script src="/static/js/all.js"></script>
</body>
</html>
