<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
        <div class="logout">
            <p>You are logged in as {{.Session.User.UserName}}</p>
            <form class="header-button" action="/action/logout" method="POST">
                <input type="submit" value="Logout">
            </form>
        </div>
    </header>
    <div class="content">
        <div class="post-form">
            <form action="/action/post" method="POST" enctype="multipart/form-data">
                <div><input type="text" name="post_title" placeholder="Post Title" /></div>
                <div><textarea name="post_content" placeholder="The post"></textarea></div>
                <div><input type="file" name="image" accept="image/*"/></div>
                <div><input type="submit" value="Post" /></div>
            </form>
        </div>
    </div>
    <script src="/static/js/all.js"></script>
</body>
</html>
