<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/all.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1 id="home-link">TPSI.25 Blog - O Blog da malta</h1>
        {{if not .Session.Authenticated}}
            <div class="login-reg">
                <button class="login-reg-child"><a href="/login">Login</a></button>
                <p class="login-reg-child">or</p>
                <button class="login-reg-child"><a href="/register">Register</a></button>
            </div>
        {{else}}
            <div class="login-reg">
                <p class="login-reg-child">You are logged in as {{.Session.User.UserName}}</p>
                <form class="login-reg-child" action="/api/logout" method="POST">
                    <input type="submit" value="Logout">
                </form>
            </div>
        {{end}}
    </header>
    <div class="title">
        <h1>{{.Title}}</h1>
    </div>
    <div class="post-content">
        <div>Author: {{.User}}</div>
        <div>Posted in: {{.Date}}</div>
        <div>{{.Content}}</div>
    </div>
    {{if .Session.Authenticated}}
        <div id="comments">
            <form action="/api/post/{{.GUID}}/comment" method="POST">
                <input type="hidden" name="post_guid" value="{{.GUID}}" />
                <div><textarea name="comment_text" placeholder="Your Comments"></textarea></div>
                <div><input type="submit" value="Add Comments" /></div>
            </form>
        </div>
    {{end}}
    {{range .Comments}}
    {{if eq .UserName $.Session.User.UserName}}
        <div>Comment by {{.UserName}}</div>
        <div>{{.CommentText}}</div>
        <button id="comment-editor-button">Edit</button>
        <div class="comment-edit" id="comment-editor">
            <h2>Edit</h2>
            <form onsubmit="return putComment(this);">
                <input type="hidden" class="comment_id" value="{{.Id}}" />
                <textarea type="text" class="edit_comment" name="comment">{{.CommentText}}</textarea>
                <input type="submit" value="Confirm" />
            </form>
        </div>
    {{else}}
        <div class="comment">
            <div>Comment by {{.UserName}}</div>
            <div>{{.CommentText}}</div>
        </div>
    {{end}}
    {{end}}
    <script src="/static/js/all.js"></script>
</body>
</html>
