<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
    </header>
    <main>
        <h1 class="register-title">Register</h1>
        <form class="register-form" action="/api/register" method="POST">
            <div class="register-user-field"><input type="text" name="user_name" placeholder="User name" /><img class="register-user-img" src="/static/img/person_logo.png"></div>
            <div class="register-email-field"><input type="email" name="user_email" placeholder="Your email" /><img class="register-mail-img" src="/static/img/mail_logo.png"></div>
            <div class="register-password-field"><input type="password" name="user_password" placeholder="Password" /><img class="register-password-img" src="/static/img/cadeado_logo.png"></div>
            <div class="register-password2-field"><input type="password" name="user_password2" placeholder="Password (repeat)" /><img class="register-password-img" src="/static/img/cadeado_logo.png"></div>
            <div class="register-button"><input type="submit" value="Register" /></div>
        </form>
    </main>
    <script src="/static/js/all.js"></script>
</body>
</html>
