<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
        {{if not .Session.Authenticated}}
        <div class="header-buttons">
            <a href="/login"><button class="header-button"><strong>Login</strong></button></a>
            <a href="/register"><button class="header-button"><strong>Register</strong></button></a>
        </div>
        {{else}}
        <div class="logout">
            <p>You are logged in as <strong>{{.Session.User.UserName}}</strong></p>
            <form action="/action/logout" method="POST">
                <button class="header-button" onsubmit="return logout(this);"><strong>Logout</strong></button>
            </form>
        </div>
        {{end}}
    </header>
    <main>
        <div class="content-container">
            <div class="content">
                {{if .Image}}
                    <div><img src="/action/image?guid={{.GUID}}" alt="Post Image"></div>
                {{end}}
                <div class="title">
                    <h1>{{.Title}}</h1>
                    <div class="post-content">
                        <div class="post-text"><p>{{.Content}}</p></div>
                        <br>
                        <div><p><strong>Author: {{.User}}</strong></p></div>
                        <div><p><strong>Posted in: {{.Date}}</strong></p></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-section">
            {{if .Session.Authenticated}}
                <div class="add-comment-form">
                    <div><p>Add a comment: </p></div>
                    <div id="comments">
                        <form action="/action/post/{{.GUID}}/comment" method="POST">
                            <input type="hidden" name="post_guid" value="{{.GUID}}" />
                            <div><textarea name="comment_text" placeholder="Your Comments"></textarea></div>
                            <div><input type="submit" value="Add Comment" /></div>
                        </form>
                    </div>
                </div>
            {{end}}
            {{range .Comments}}
                {{if eq .UserName $.Session.User.UserName}}
                    <div class="comment">
                        <div>Comment by {{.UserName}}</div>
                        <div>{{.CommentText}}</div>
                    </div>
                    <button class="comment-editor-button" data-id="{{.Id}}">Edit</button>
                    <div class="comment-edit" id="comment-editor-{{.Id}}">
                        <h2>Edit</h2>
                        <form onsubmit="return putComment(this);">
                            <input type="hidden" class="comment_id" value="{{.Id}}" />
                            <textarea type="text" class="edit_comment" name="comment">{{.CommentText}}</textarea>
                            <input type="submit" value="Confirm" />
                        </form>
                    </div>
                {{else}}
                    <div class="comment">
                        <div>Comment by {{.UserName}}</div>
                        <div>{{.CommentText}}</div>
                    </div>
                {{end}}
            {{end}}
        </div>
    </main>
    <script src="/static/js/all.js"></script>
</body>
</html>

