<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
        {{if not .Session.Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button"><strong>Login</strong></button></a>
                <a href="/register"><button class="header-button"><strong>Register</strong></button></a>
            </div>
        {{else}}
            <div class="logout">
                <p>You are logged in as <a href="/user/{{.Session.User.EncodedName}}"><strong>{{.Session.User.UserName}}</strong></a></p>
                <a href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="session-profile-pic" src="/action/profile-pic?user-encoded={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="session-profile-pic" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
                <form action="/action/logout" method="POST">
                    <button class="header-button" onsubmit="return logout(this);"><strong>Logout</strong></button>
                </form>
            </div>
        {{end}}
    </header>
    <main>
        <div class="content-container">
            <div class="content">
                {{if .Post.Image}}
                    <img src="/action/image?guid={{.Post.GUID}}" alt="Post Image">
                {{end}}
                <div class="title">
                    <h1>{{.Post.Title}}</h1>
                    <div class="post-content">
                        <div class="author-info-inline">
                            <a href="/user/{{.Post.Author.EncodedName}}" onclick="event.stopPropagation();">
                                {{if .Post.Author.ProfilePic}}
                                    <img class="profile-pic-mini" src="/action/profile-pic?user-encoded={{.Post.Author.EncodedName}}" alt="Profile Pic">
                                {{else}}
                                    <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                                {{end}}
                            </a>
                            <div class="author-name-date"><a href="/user/{{.Post.Author.EncodedName}}" onclick="event.stopPropagation();"><strong>{{.Post.Author.UserName}}</strong></a>   -   <strong>{{.Post.Date}}</strong></div>
                        </div>
                        <br>
                        <div id="post-text"><p>{{.Post.Content}}</p></div>
                        <div id="post-edit">
                            <form onsubmit="return editPost(this);">
                                <input type="hidden" class="post_id" value="{{.Post.GUID}}" />
                                <textarea type="textarea" class="edit_post" name="post">{{.Post.Content}}</textarea>
                                <input type="submit" value="Confirm" />
                            </form>
                        </div>
                        <br>
                        <div class="post-rating-container">
                            <div class="post-rating">Rating <strong>{{.Post.Rating}}</strong></div>
                            {{if $.Session.Authenticated}}
                                <div class="post-rate-buttons">
                                    <button id="post_rate_up_button"><i class="post-rate-up-button fa-solid fa-chevron-up" data-id="{{.Post.GUID}}"></i></button>
                                    <input type="hidden" id="post_rating_hidden" data-id="{{.Post.GUID}}" value="{{.Post.UserRating}}" />
                                    <button id="post_rate_down_button"><i class="post-rate-down-button fa-solid fa-chevron-down" data-id="{{.Post.GUID}}"></i></button>
                                </div>
                            {{end}}
                        </div>
                        {{if eq .Post.Author.UserName .Session.User.UserName}}
                            <div class="post-buttons">
                                <button id="post-editor-button">Edit</button>
                                <button id="post-deleter-button">Delete</button>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-section">
            {{if .Session.Authenticated}}
                <div class="add-comment-form">
                    <div><p><strong>Add a comment:</strong></p></div>
                    <div id="comment-form">
                        <form action="/action/post/{{.Post.GUID}}/comment" method="POST">
                            <input type="hidden" name="post_guid" value="{{.Post.GUID}}" />
                            <div><textarea name="comment_text" placeholder="Your Comments"></textarea></div>
                            <div><input type="submit" value="Add Comment" /></div>
                        </form>
                    </div>
                </div>
            {{end}}
            <div class="comments">
                {{range .Post.Comments}}
                    <div class="comment" data-id="{{.Id}}">
                        <div class="comment-content">
                            <div class="author-info-inline">
                                <a href="/user/{{.Author.EncodedName}}" onclick="event.stopPropagation();">
                                    {{if .Author.ProfilePic}}
                                        <img class="profile-pic-mini" src="/action/profile-pic?user-encoded={{.Author.EncodedName}}" alt="Profile Pic">
                                    {{else}}
                                        <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                                    {{end}}
                                </a>
                                <div><a href="/user/{{.Author.EncodedName}}" onclick="event.stopPropagation();"><strong>{{.Author.UserName}}</strong></a>   -   <strong>{{.Date}}</strong></div>
                            </div>
                            <div class="comment-text" id="comment-text-{{.Id}}"><p>{{.Content}}</p></div>
                            <div class="comment-edit" id="comment-editor-{{.Id}}">
                                <form onsubmit="return editComment(this);">
                                    <input type="hidden" class="comment_id" value="{{.Id}}" />
                                    <textarea type="textarea" class="edit_comment" name="comment"> {{.Content}}</textarea>
                                    <input type="submit" value="Confirm" />
                                </form>
                            </div>
                            <br>
                            <div class="comment-rating-container">
                                <div class="comment-rating">Rating <strong>{{.Rating}}</strong></div>
                                {{if $.Session.Authenticated}}
                                    <div class="comment-rate-buttons">
                                        <button id="comment_rate_up_button-{{.Id}}"><i class="comment-rate-up-button fa-solid fa-chevron-up" data-id="{{.Id}}"></i></button>
                                        <input type="hidden" class="comment_rating_hidden" data-id="{{.Id}}" value="{{.UserRating}}" />
                                        <button id="comment_rate_down_button-{{.Id}}"><i class="comment-rate-down-button fa-solid fa-chevron-down" data-id="{{.Id}}"></i></button>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                        {{if eq .Author.UserName $.Session.User.UserName}}
                            <div class="comment-buttons">
                                <button class="comment-editor-button" data-id="{{.Id}}">Edit</button>
                                <button class="comment-deleter-button" data-id="{{.Id}}">Delete</button>
                            </div>
                        {{end}}
                    </div>
                {{end}}
            </div>
        </div>
        <div id="modal-container-post">
            <div class="modal-border">
                <div class="modal-content">
                    <p>Are you sure you want to delete this comment?</p>
                    <br>
                    <div class="modal-buttons">
                        <button id="delete-post-sure-no">Cancel</button>
                        <button id="delete-post-sure-yes">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-container-comment">
            <div class="modal-border">
                <div class="modal-content">
                    <p>Are you sure you want to delete this post?</p>
                    <br>
                    <div class="modal-buttons">
                        <button id="delete-comment-sure-no">Cancel</button>
                        <button id="delete-comment-sure-yes">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/post.js"></script>
    <script src="/static/js/comment.js"></script>
</body>
</html>
