<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/recover-password.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">L E N I C</a></h1>
            <p class="logo-bottom">Cinel do avesso</p>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="home-container">
                <h1>STARTED OUT AS A BLOG</h1>
                <h1>IT WAS ONLY A BLOG</h1>
                <h1>IT WAS ONLY A BLOG...</h1>
            </div>
        </div>
        <div class="side-container">
            <h3>RECOVER PASSWORD</h3>
            <div class="forgotPassword-container">
                <input type="hidden" id="recoverPasswd-user" name="user_name" value="{{.User.UserName}}" />
                <input type="hidden" id="recoverPasswd-token" name="token" value="{{.Token}}" />
                <p>PASSWORD</p>
                <input type="password" id="recoverPasswd-pass" name="password" placeholder="password" />
                <p>REPEAT PASSWORD</p>
                <input type="password" id="recoverPasswd-pass2" name="password2" placeholder="password" />
            </div>
            <button id="recoverPasswd-button">RECOVER</button>
        </div>
    </main>
    <script type="module" src="/static/js/login.js"></script>
</body>
</html>
