<!DOCTYPE html>
<html>
<head>
    <title>TPSI.25 Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/user-profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- FontAwesome Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="logo">
            <h1 class="home-link"><a href="/home">TPSI.25 Blog</a></h1>
            <p class="logo-bottom">O Blog da malta</p>
        </div>
        {{if not .Session.Authenticated}}
            <div class="header-buttons">
                <a href="/login"><button class="header-button"><strong>Login</strong></button></a>
                <a href="/register"><button class="header-button"><strong>Register</strong></button></a>
            </div>
        {{else}}
            <div class="logout">
                <p>You are logged in as <a href="/user/{{.Session.User.EncodedName}}"><strong>{{.Session.User.UserName}}</strong></a></p>
                <input type="hidden" id="user-encoded" value="{{.Session.User.EncodedName}}">
                <a href="/user/{{.Session.User.EncodedName}}">
                    {{if .Session.User.ProfilePic}}
                        <img class="session-profile-pic" src="/action/profile-pic?user-encoded={{.Session.User.EncodedName}}" alt="Profile Pic" />
                    {{else}}
                        <img class="session-profile-pic" src="/static/img/no-profile-pic.jpg" alt="Profile Pic" />
                    {{end}}
                </a>
                <button class="header-button" onclick="return logout(this);"><strong>Logout</strong></button>
            </div>
        {{end}}
    </header>
    <main>
        <div class="profile-container">
            <h1>{{.User.UserName}}</h1>
            <div class="profile">
                <div class="profile-personal">
                    <div class="profile-pic">
                        {{if .User.ProfilePic}}
                            <img src="/action/profile-pic?user-encoded={{.User.EncodedName}}" alt="Profile Pic">
                        {{else}}
                            <img src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                        {{end}}
                        {{if eq .Session.User.UserName .User.UserName}}
                            <div class="profile-pic-add-container">
                                <form id="profile-pic-form" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="image" accept="image/*" id="profile-pic-input" onchange="checkFileSelected();" />
                                </form>
                                <button class="profile-pic-add-button" id="confirm-button" onclick="return addProfilePic();"><strong>Confirm</strong></button>
                            </div>
                        {{end}}
                    </div>
                    <div class="profile-info">
                        <input type="hidden" id="encoded-user" value="{{.User.EncodedName}}" />
                        <div><p><strong>User: {{.User.UserName}}</strong></p></div>
                        <br>
                        {{if eq .User.UserName .Session.User.UserName}}
                            <p>{{.User.Email}}</p>
                            <br>
                            <a href="/recover-password/{{.User.EncodedName}}"><button>Change password</button></a>
                            <br>
                            <br>
                            <div class="user-profile-buttons">
                                <a href="/user/{{.User.EncodedName}}/feed"><button>Feed</button></a>
                                <a href="/newPost"><button>Create a new Post</button></a>
                            </div>
                        {{end}}
                    </div>
                </div>
                <br>
                <div class="follow-container">
                    <div class="follower-info">
                        <div><a href="/user/{{.User.EncodedName}}/followers"><strong>Followers:</strong></a> {{.User.Followers}}</div>
                        <div><a href="/user/{{.User.EncodedName}}/following"><strong>Following:</strong></a> {{.User.Following}}</div>
                    </div>
                    {{if .Session.Authenticated}}
                        {{if ne .Session.User.UserName .User.UserName}}
                            {{if .Follows}}
                                <button id="unfollow-button">Unfollow</button>
                            {{else}}
                                <button id="follow-button">Follow</button>
                            {{end}}
                        {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        <div class="user-posts">
            <div class="post-preview-container">
                {{range .Posts}}
                    <div class="post-preview" onclick="location.href='/post/{{.GUID}}';">
                        <div class="post-preview-content">
                            <div class="author-info-inline">
                                <a href="/user/{{.Author.EncodedName}}">
                                    {{if .Author.ProfilePic}}
                                        <img class="profile-pic-mini" src="/action/profile-pic?user-encoded={{.Author.EncodedName}}" alt="Profile Pic">
                                    {{else}}
                                        <img class="profile-pic-mini" src="/static/img/no-profile-pic.jpg" alt="Profile Pic">
                                    {{end}}
                                </a>
                                <div><a href="/user/{{.Author.EncodedName}}" onclick="event.stopPropagation();"><strong>{{.Author.UserName}}</strong></a>   -   <strong>{{.Date}}</strong></div>
                            </div>
                            {{if .Image}}
                                <img class="post-pic-mini" src="/action/image?guid={{.GUID}}" alt="Post Image">
                                <br>
                            {{end}}
                            <div><h2>{{.Title}}</h2></div>
                            <div>{{.TruncatedText}}</div>
                            <br>
                            <div class="post-rating-container">
                                <div class="post-rating">Rating <strong>{{.Rating}}</strong></div>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </main>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/user.js"></script>
</body>
</html>
