name: Build & Push Docker Images

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build app image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/lenic:latest -f docker/api.Dockerfile .
      - name: Push app image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/lenic:latest
      - name: Build migrate image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/lenic-migrate:latest -f docker/migrate.Dockerfile .

      - name: Push migrate image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/lenic-migrate:latest
